.vscode/
sim/logs
sim/obj_dir
src/**/*.hex
src/**/*.oe
src/**/*.oo
src/**/*.oe.od
src/**/*.lst
src/bios/bios.os
src/bios/io.os
src/os/kernel.os
ulx3s/*.config
ulx3s/*.bit
ulx3s/*.json
ulx3s/*.log
ulx3s/*.svf
