.vscode/
sim/logs
sim/obj_dir
sd.img
src/**/*.hex
src/**/*.oe
src/**/*.oo
src/**/*.oe.od
src/**/*.lst
src/mkfs/mkfs
src/bios/bios.os
src/bios/io.os
src/bios/.tmp.*
src/os/shell.os
boards/**/*.config
boards/**/*.bit
boards/**/*.json
boards/**/*.log
boards/**/*.svf
